In [40]:
print("HI")

HI

In [41]:
# Creating a 2D array
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

In [42]:
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [43]:
challange_2 = [
    
]

In [44]:
new_row = ["BlackBeard",'M',40,6.4,False]
new_row2 = ['Anne Bonny','F',24,5.6,True]
new_row3 = ['Calico Jack','M',37,5.6,True]
new_row4 = ["Cheung Po Tsai","M",39,5.3,False]
new_row5 = ["Grace O'Malley","F",73,5.0,False]
new_row6 = ["Mary Read","F",36,5.1,True]
new_row7 = ["Sayyida al Hurra","F",75,"N/A",False]
new_row8 = ["Ching Shih","F",69,5.3,False]
new_row9 = ["Sir Francis Drake","M",56,5.5,False]
new_row10 = ["Jean Lafitte","M",46,6.2,False]

In [45]:
challange_2.append(new_row)
challange_2.append(new_row2)
challange_2.append(new_row3)
challange_2.append(new_row4)
challange_2.append(new_row5)
challange_2.append(new_row6)
challange_2.append(new_row7)
challange_2.append(new_row8)
challange_2.append(new_row9)
challange_2.append(new_row10)

In [46]:
for row in challange_2: 
    print(row)

['BlackBeard', 'M', 40, 6.4, False]
['Anne Bonny', 'F', 24, 5.6, True]
['Calico Jack', 'M', 37, 5.6, True]
['Cheung Po Tsai', 'M', 39, 5.3, False]
["Grace O'Malley", 'F', 73, 5.0, False]
['Mary Read', 'F', 36, 5.1, True]
['Sayyida al Hurra', 'F', 75, 'N/A', False]
['Ching Shih', 'F', 69, 5.3, False]
['Sir Francis Drake', 'M', 56, 5.5, False]
['Jean Lafitte', 'M', 46, 6.2, False]

In [47]:
#DICTIONARY 

pirates = {
    "Pirate": ["Blackbeard", "Anne Bonny", "Calico Jack"],
    "Sex": ["M", "F", "M"],
    "Age at death": [40,24,37]
}

In [49]:
pirates

{'Pirate': ['Blackbeard', 'Anne Bonny', 'Calico Jack'],
 'Sex': ['M', 'F', 'M'],
 'Age at death': [40, 24, 37]}

In [55]:
#CHALLANGE 3 

challange_2[0]

['BlackBeard', 'M', 40, 6.4, False]

In [78]:
for i in range(0,len(challange_2)):
    last_column_element = challange_2[i][-1]
    print(last_column_element, end=' ')

False True True False False True False False False False

In [75]:
for row in challange_2:
    for i in range(0, len(row), 2):
        print(row[i], end=' ')
    print()

BlackBeard 40 False
Anne Bonny 24 True
Calico Jack 37 True
Cheung Po Tsai 39 False
Grace O'Malley 73 False
Mary Read 36 True
Sayyida al Hurra 75 False
Ching Shih 69 False
Sir Francis Drake 56 False
Jean Lafitte 46 False